@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
html {
    scroll-behavior: smooth;
}
html:focus-within{
    scroll-behavior: smooth;
}
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size:16px;
    color:#353935;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 5%;
    position:fixed;
    z-index: 1000;
    top:0;
    background-color:white ; 
    margin-left:50px; 
    margin-top:10px; 
    margin-bottom:40px; 
    margin-right:50px; 
    border-radius: 70px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    visibility: visible;
}
.logo{
    cursor: pointer;
  margin-right:2%;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display:inline-block;
    padding:0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color:#7e2f49;
    text-decoration:overline;
    font-size: 110%;
}


.contact button{
    padding:9px 25px;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #614564;
    color:#f7f2f2
}
.contact button:hover{
    font-size: 103%;
}
/** home **/
body{
    margin-top:10%;
    overflow:scroll;
    overflow-x: hidden;
}
 .herosection section{
    margin-bottom: 3rem;
    background-color: #fff;
    padding:2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
#home{
    margin-top: 0%;
    margin-left:6%;
    margin-right:6%;
    justify-content: space-evenly;
    padding-left:55px;
    padding-right:55px;
}
h1{
    font-size: 75px;
    color:#222224;
}
h2{
    font-size: 20px;
    font-weight: 200;
}
h3{
    font-size:18.2px;
    font-weight: 20;
    letter-spacing: 1px;
    line-height:24px;
}
#home a button1{
    text-decoration: none;
    background-color: #c52c50;
    color:#f9f0f0;
    margin:26px 0px;
    padding:10px 18px;
    border-radius: 10px;
    display:inline-block;
    transition: .4s ease;
}
#home a button1:hover{
    color:beige;
    font-size:110%;
}
.image{
    position: absolute;
    height: 24.5%;
    width:30%;
    right:22%;
    bottom:0;
    top:10%;
    margin-top:10%;
    align-items: center;
    flex-wrap: wrap;

}
.image img{
    position: absolute;
    height:auto;
    top:0%;
    left:40%;
   bottom:0;
   border-radius: 20%;
   max-width:100%;
   box-shadow:0 2px 5px rgba(0,0,0,0.1);
   display:block;
}
 .icons {
    text-decoration: none;
    color:#000;
   position: relative;
   left:0;
}
.icons i{
    margin-left:20px;
    font-size:35px;
}
.icons i:hover{
    color:#222224;
    font-size:35.5px;
}
/**achievement**/
#achievements{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:50px;
    margin-left:6%;
    margin-right:6%;
}

.header {
    padding-top:90px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
.achievement{
    background:#faf9f5;
    border-radius:5px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    padding:40px;
    transition: transform 0.2s;
}
.achievement h2 {
    font-size: 1.5em;
    margin: 0;
}
.achievement p{
    margin:10px 0;
}
.achievement .button{
    padding-top: 10px;
    display:flex;
    gap:8px;
}
.open-modal{
    background-color: #3498db;
    color:white;
    font-size: 16px;
    padding:10px 15px;
    text-decoration: none;
    border-radius:5px;
}
.open-modal{
    background-color: #2980b9;
}
.open-modal + .navbar{
    visibility:hidden;

}

/**modal-styles**/
.modal{
     display:none; 
    position:fixed;
    z-index: 1;
    left:0;
    top:0;
    height:100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin:15% auto;
    padding:50px;
    border: 1px solid #888;
    width: 85%; 
    max-width: 900px;
}
.close{
    color:#aaa;
    float:right;
    font-size: 38px;
    text-decoration: none;
}
.close:hover {
    color: black;
}
.modal-image{
    padding-top: 20px;
}
/* Show modal when targeted */
.modal:target{
    display: block;
}



/**education**/
#education {
    padding-top:100px;
    margin-left:6%;
    margin-right:6%;
    font-family: Georgia, serif;
    padding:50px;
}
#education h1{
   font-size: 22px;
   font-family: Garamond;
   font-weight: 550;
   letter-spacing: 0.0001px;
   
}
#education h3{
    font-size:20px;
    letter-spacing: 0.1px;
    font-weight: 670;
    color:#353935;
    font-family:  Georgia;
}
#education h4{
    letter-spacing: 0.01px;
    font-size:18px;
    font-weight: 550;
    color:#1d1d1f;
}
#education h5{
    font-size:16px;
    font-weight:500;
}
#education .details{
    display:flex;
    justify-content:start;
    margin:0.3px 0;
    width:285px;
    justify-content: space-around;
    
}
#education .italic i{
    font-size: medium;
}
/**experience**/
#experience{
   
    font-family: 'montserrat' , sans-serif;
   margin:6% 6%;
}
#experience e{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight:270;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top:0;
}
#experience h2{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight:500
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
  }
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    
    background-color: #1e1f22;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
    color: white;
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
 .timeline-content .dmy{
    font-size:13px;
    font-weight:300;
    margin-bottom:10px;
    letter-spacing: 2px;
    font-weight: 550;
    color:#222222;
 }
  @media only screen and (min-width: 768px) {
    
   .timeline::before{
    
    position: absolute;
    height:100%;
    width:2px;
    background-color: gray;
    left:50%;
    transform: translateX(-50%);
   }
    .timeline ul li {
      width: 100%;
      position: relative;
      margin-bottom: 80px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear:right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear:left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
     .timeline ul li::after{
        content: '';
    position: absolute;
    background-color: gray;
    height:20px;
    width:20px;
    border-radius: 50%;
    top:0;
     }
     .timeline ul li:nth-child(odd)::after {
        transform: translate(50%,-50%);
      right:-30px;
      
      }
      .timeline ul li:nth-child(even)::after {
        transform: translate(-50%,-50%);
      left:-30px;
      }
      .timeline ul li:hover:after{
      background-color: #7e2f49
      }
      .timeline-content .dmy{
        position:absolute;
        top:-30px;
      }
      #home.image{
        flex-direction: column;
      }
      #home .img{
        width:100%;
        height:auto;
      }
  }

  #skills{
    padding-top:100px;
    margin-left: 6%;
    margin-right:6%;
    padding:50px;
  }
  #about{
    padding-top:100px;
    padding:50px;
    margin-left: 6%;
    margin-right:6%;
    }
    #about h2{
        font-size:40px;
        color:#222224;
    }
    #about span div{
        font-size: 18.8px;
        font-style: bold;
        color:#000;
        
        
    }
#about span{
font-size:18px;
color:#28282B;
font-family: sans-serif;
}
  #-contact{
    padding:130px 50px;
    margin-left: 6%;
    margin-right:6%;
   }
   #-contact .imag img{
    display:flex;
    margin:0% 40%;
    height:25%;
    width:25%;
   }
/**footer**/
#footer {
    margin-left:6%;
    margin-right:6%;
    margin-bottom: 1rem;
    background-color: #28282B;
     border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding:45px 45px;
   display:flex;
   flex-direction:column;
   font-family:'open sans';
   color:white;
}
#footer a{
    color:white;
}
#footer p{
    display:flex;
    align-items:center;
    margin-bottom:1rem;
}
.footer-content .logo{
    margin-bottom:1.1rem;
   color:#d425a8;
   font-size:46px;
   font-weight:bold;
}
.footer-content .contact .icon{
     font-size:24px;
     margin-right:15px;
}
.footer-copyright{
    background-color: #3498db;
    display:flex;
    justify-content:center;
    color:#614564;
    padding-bottom:0;
}